.services {
    margin: 65px auto;
    max-width: 1440px;
}
    .services h1 {
        font-family: 'Roboto';
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 40px;
        color: var(--color-text);
        text-align: center;
    }
.grid-services {
    display: grid;
    grid-template-columns: repeat(3, 280px); /* Фиксированная ширина для 3 колонок */
    gap: 180px; /* Увеличиваем отступ между плитками */
    justify-content: center; /* Центрируем всю сетку */
    margin: 0 auto;
}

.tile-services {
    background-color: white;
    padding: 24px;
    border-radius: 10px;
    color: var(--color-text);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center; /* всё содержимое по центру по-горизонтали */
    text-align: center;
    width: 280px;
    height: auto;
}

    .tile-services h2 {
        
        font-size: 18px;
        font-weight: 500;
        color: var(--color-link-hover);
        text-align: center; 

    }

    .tile-services .button {
        margin-top: 60px;
    }

    .tile-services p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        line-height: 1.7;
        margin-top: 0px;
    }
    .tile-services img {
        padding: 0px;
        width: 24px;
        height: 24px;
        margin: 16px auto;
        display: block;
    }