
.container {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.main-content {
    padding: 0px;
    margin-top: 0px;
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: all 0.3s ease;
    z-index: 0;
}

.description-wrapper {
    position: relative;
    background-color: white;
    width: 100vw; /* На всю ширину viewport */
    margin-left: calc(-50vw + 50%); /* Компенсация отступов родителя */
    margin-right: calc(-50vw + 50%);
    margin-top: -50px;
    margin-bottom: 50px;
    box-shadow: 0 2px 6px var(--color-shadows);
}

.description-section {
    position: relative;
    justify-content: space-between;
    max-width: 1100px;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    gap: 5px;
    align-items: stretch;
}

.description-image {
    background-color: var( --color-bg);
    border-radius: 10px;
/*    border: 0.5px solid var(--color-card-stroke);*/
    height: auto;
    max-height: 280px;
    aspect-ratio: 16/9;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    .description-image img {
        width: auto;
        height: 100%;
        object-fit: contain;
        border-radius: 8px;
        display: block;
    }

.description-text {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяет контент между верхом и низом */
    /*min-height: 330px;*/ /* Такая же высота как у картинки */
}

.description-content {
    flex: 1; /* Занимает доступное пространство */
}

.description-text h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--color-button-bg);
}

.description-text p {
    font-size: 14px;
    color: var(--color-text);
    line-height: 1.6;
}

.links {
    position: relative;
    display: flex;
    gap: 8px;
    margin-top: auto; /* Прижимает к низу */
    align-self: flex-end; /* Прижимает вправо */
    padding: 0;
}

    .links a {
        display: inline-block;
        margin: 5px 0px;
        color: var(--color-link);
    }

        .links a.disabled {
            color: #aaa;
            pointer-events: none;
            cursor: default;
            opacity: 0.3;
        }

        .links a:hover {
            text-decoration: underline;
            color: var(--color-link-hover);
        }

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    margin: 10px auto; /* Центрируем сетку */
    justify-content: center; /* Центрируем плитки */
    max-width: 1440px;
    width: 100%;
    padding: 0 0px;
}

.tile {
    background-color: white;
    width: 98%; /* Занимает всю ширину ячейки grid */

    padding: 8px;
    border-radius: 10px;
    text-align: left;
    color: var(--color-text);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяет контент */
}

    .tile .image-wrapper {
        width: 100%;
        aspect-ratio: 16 / 9; /* Устанавливаем соотношение сторон */
        background-color: var(--color-bg); /* Фон на случай отсутствия изображения */
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tile:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(77,88,145, 0.25);
    }

    .tile img {
        width: 100%;
        height: 100%;
        object-fit: contain; /* Сохраняем пропорции изображения */
    }

    .tile h4 {
        margin: 5px 0 5px;
        font-size: 14px;
        font-weight: 500;
    }

    /* Обновляем стили для .links внутри .tile */
    .tile .links {
        margin-top: auto; /* Прижимает блок к низу */
        align-self: flex-end; /* Выравнивает по правому краю */
        display: flex;
        gap: 8px;
    }

/*Buttons
    ------------------------------------
*/

.store-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px; /* Уменьшаем padding для большего пространства изображению */
    width: 32px;
    height: 32px;
    margin: 0;
    transition: background 0.2s ease;
    cursor: pointer;
}

    .store-button.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }

    .store-button img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px; /* Автоматическая ширина */
        height: 24px; /* Автоматическая высота */
        object-fit: contain; /* Сохраняет пропорции */
        
    }

    .store-button:hover {
        background-color: #FFE2C0;
        border-radius: 5px;
    }


